.contacts{
    margin: 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts img{
    height: 550px;
}

.inputs{
    background-color: #c7f1ff;
    border-radius: 5px;
    padding: 1rem;
}

.contacts form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contacts form input{
    border-radius: 5px;
    padding: 0.5rem;
}

.contacts form textarea{
    padding: 0.5rem;
}

.formSubmit{
    border-radius: 5px;
    width: 25%;
    background-color: #f8eca8;
}